body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 50px;
  text-align: center;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5%;
}

.title {
  font-size: 50px;
  margin: 0;
}

.orange {
  background: orangered;
  color: white;
  font-weight: bold;
}

.blue {
  background: blue;
  color: white;
  font-weight: bold;
}

.selected {
  font-weight: 900;
  background-color: green;
  color: white;
}

.temperature-controls {
  margin: 0 auto;
  width: 25%;
  display: grid;
  grid-template-columns: 20fr 18fr;
}

.up-and-down {
  display: grid;
  gap: 5px;
  justify-items: flex-start;
}

.grid-item.up {
  display: grid;
  align-items: flex-end;
}

.up-and-down button {
  width: 40px;
  height: 40px;
}

.energy-section {
  margin: 0 auto;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.green {
  color: green;
}

.yellow {
  color: orange;
}

.red {
  color: red;
}

#temperature {
  font-size: 150px;
  margin: 0;
}

#energy-usage {
  margin-top: 15px;
  font-weight: 300;
  font-size: 18px;
}
